:root {
  --color-blue-link-web: #0052cc;
  --color-black: #000;
  --color-white: #fff;
  --color-dark-indigo-30-flat: #a5acb0;
  --color-dark-indigo-15-flat: #cdd2d4;
  --color-dark-indigo-10-flat: #edeff0;
  --color-dark-indigo-5-flat: #f9fafc;
}
