:host {
  padding: 25px 40px;
  width: 100%;
  max-width: 620px;
  border-radius: var(--border-radius-base);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
  box-sizing: border-box;
}
