:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-s);
}
