<form class="app-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="app-form__controls">
    <div class="app-form__field-wrapper">
      <label for="form-email">Email</label>
      <input
        id="form-email"
        type="text"
        name="email"
        spellcheck="false"
        autocapitalize="off"
        autofocus="autofocus"
        autocomplete="username"
        formControlName="email"
      />
      <app-field-error *ngIf="email && email.touched && email.invalid">
        Email is invalid.
      </app-field-error>
    </div>

    <div class="app-form__field-wrapper">
      <label for="form-password">Password</label>
      <input
        id="form-password"
        type="password"
        name="password"
        autocomplete="current-password"
        formControlName="password"
      />
      <app-field-error *ngIf="password && password.touched && password.invalid">
        Invalid email and/or password.
      </app-field-error>
    </div>

    <div class="app-form__field-wrapper">
      <label class="app-form__field-label">
        <input
          class="app-form__field-checkbox"
          type="checkbox"
          name="remember"
          formControlName="remember"
        />
        Remember me
      </label>
    </div>

    <button class="app-form__submit" [disabled]="!loginForm.valid">
      Log in
    </button>
  </div>
</form>
