<form class="app-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="app-form__controls">
    <app-form-field>
      <label for="form-email">Email</label>
      <input
        id="form-email"
        type="text"
        name="email"
        spellcheck="false"
        autocapitalize="off"
        autofocus="autofocus"
        autocomplete="username"
        formControlName="email"
      />
      <app-form-field-error *ngIf="email && email.touched && email.invalid">
        Invalid email.
      </app-form-field-error>
    </app-form-field>

    <app-form-field>
      <label for="form-password">Password</label>
      <input
        id="form-password"
        type="password"
        name="password"
        autocomplete="current-password"
        formControlName="password"
      />
      <app-form-field-error
        *ngIf="password && password.touched && password.invalid"
      >
        Invalid password.
      </app-form-field-error>
    </app-form-field>

    <app-form-field>
      <label class="app-form__field-label">
        <input
          class="app-form__field-checkbox"
          type="checkbox"
          name="remember"
          formControlName="remember"
        />
        Remember me
      </label>
    </app-form-field>

    <button class="app-form__submit" [disabled]="loginForm.invalid || isLoading">
      {{ isLoading ? "Waiting..." : "Log in" }}
    </button>
  </div>
</form>
